* {
    box-sizing: border-box;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.todo-overview {
    grid-column: 1 / 2;
    grid-row: 1;
    border: 1px solid red;
}

.todo-edit {
    grid-column: 2 / 3;
    grid-row: 1;
    border: 1px solid red;
}
