* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: #111;
    font-family: Heebo, Helvetica, sans-serif;
}

.alternative-theme {
    background-color: #3c3f41;
    color: whitesmoke;
}

.hidden {
    display: none;
}

.full-width {
    width: 100%;
}

.margin-bottom-default {
    margin-bottom: 6px;
}

input[type="checkbox"] {
    appearance: none;
    margin-left: 0;
}

input[type="checkbox"]::before {
    content: "";
    font-size: 12px;
    display: inline-block;
    border: 1px solid grey;
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

input[type="checkbox"]:checked::before {
    text-align: center;
    content: "\2713";
    color: white;
    font-size: 12px;
    background-color: #84b6fc;
    border: none;
    width: 16px;
    height: 16px;
}

button {
    background-color: #0d6efa;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 6px;
    font-family: Heebo, Helvetica, sans-serif;
}

.active {
    background-color: #0957c6;
    font-weight: bold;
}
